<h1>TooU Password Reset</h1>

<p>
  <%= @greeting %>, 
</p>

<p>
	Click the link below to reset your password
	<%= link_to @url, @url %>
<p>
	This url will expire.
</p>

<p>
    Thanks, 
</p>
<p>
    TooU
</p>