<div class="container form-group">
    <label for="merchant" class="text-center">Enter Merchant Name</label>
    <input type="text" class="form-control merchant-name"></input>
    <div class="merchant-autocomplete"></div>
</div>