<div id="overlay"></div>
<div class="container" id="redemption">
    <div class="row">
        <div class="col text-center merchant-info">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            Enter TooU Redemption Code
        </div>
    </div>
    <div class="row mt-1">
        <div id="code-input" class="col form-group text-center">
        <input type="number" pattern="[0-9]" class="form-control digit-lg p-3" id="code-1" autofocus></input>
        <input type="number" pattern="[0-9]" class="form-control digit-lg p-3" id="code-2"></input>
        <input type="number" pattern="[0-9]" class="form-control digit-lg p-3" id="code-3"></input>
        <input type="number" pattern="[0-9]" class="form-control digit-lg p-3" id="code-4"></input>
        </div>
    </div>
    
    <div class="row">
        <div class="col text-center">
            
    <table class="number-pad">
    <tbody>
    <tr class="trow">
        <td class="number-pad number" data-value="1">1</div>
        <td class="number-pad number" data-value="2">2</div>
        <td class="number-pad number" data-value="3">3</div>
    </tr>
    <tr class="trow">
        <td class="number-pad number" data-value="4">4</div>
        <td class="number-pad number" data-value="5">5</div>
        <td class="number-pad number" data-value="6">6</div>
    </tr>
    <tr class="trow">
        <td class="number-pad number" data-value="7">7</div>
        <td class="number-pad number" data-value="8">8</div>
        <td class="number-pad number" data-value="9">9</div>
    </tr>
    <tr class="trow">
        <td class="number-pad number backspace" data-value="bs"><i class="fa fa-backspace"></i></div>
        <td class="number-pad number" data-value="0">0</div>
        <td class="number-pad"></div>
    </tr>       
    </tbody>
    </table>
        </div>
    </div>

</div>