
<div class="container mt-3 mx-auto" style="max-width: 600px">
<%= form_tag "authenticate" do %>
    <div class="row m-2 align-items-center">
        <div class="col-sm"><input type="text" class="form-control" name="username" id="username" placeholder="Username"></div>
    </div>
    <div class="row m-2 align-items-center">
        <div class="col-sm"><input type="password" class="form-control" name="password" id="password" placeholder="Password"></div>
    </div>
    <div class="row m-1 justify-content-end">
        <div class="col-sm"><button type="submit" class="btn btn-primary">Submit</button></div>
    </div>
<% end %> 

</div>

