
<div id="Login" class="container mt-3 mx-auto" style="max-width: 600px">
    <%= form_with url: "api/requestOneTimePasscode", local: false do |form| %>
    <div class="row m-2 align-items-center">
        <div class="col-sm-10">
            <%= form.text_field :phone_number, class: "form-control", placeholder: "10 digit phone number" %>
        </div>
        <div class="col-sm-2">
            <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
</div>

