<div class="container content-width">
  
<div class="h4">About TooU</div>
<div class="regular-12pt">
TooU is a Southern California based company that is revolutionizing the digital gift industry.  
Traditional gift cards are give and forget, and can only be used at one merchant.
TooUs are micro-gifts that can be used at any participating merchant.  TooUs are social in nature because
the giver gets to enjoy when the receiver uses the TooU.
</div>  

<div class="h4 mt-5">The TooU Team</div>  

<div class="media mt-3">
  <%= image_tag "team_images/josh.jpeg", {alt: "Joshua Shapiro", class: "portrait mr-3"} %>
  <div class="media-body">
    <div class="h6 mt-0">Joshua Shapiro, Founder</div>
    Josh ...
  </div>
</div>

<div class="media mt-3">
  <%= image_tag "team_images/shane.jpeg", {alt: "Shane Murray", class: "portrait mr-3"} %>
  <div class="media-body">
    <div class="mt-0 h6">Shane Murray, Founder</div>
    Shane ...
  </div>
</div>

<div class="media mt-3">
  <%= image_tag "team_images/dana.png", {alt: "Dana Owens", class: "portrait mr-3"} %>
  <div class="media-body">
    <div class="h6 mt-0">Dana Owens, Creative Director</div>
    Data ...
  </div>
</div>

</div>