<div class="container content-width card">
  
  <div class="h4">About TooU</div>
      <div>
TooU was born out of the idea of wanting to buy a friend a beer in another city for some help they provided us without the impersonal feeling of sending cash. Our goal is to use technology to easily purchase a treat for a friend, co-worker or family no matter where they are in the world right when we are thinking of them with a personal touch allowing us to feel a little more connected. Our mission is to provide a way for people to feel more connected by easily rewarding each other with something small for their support while supporting the local businesses in our communities.      </div>
    </div>  
  
</div>