<div class="container content-width">
  
<div class="poiret regular-16pt mb-3 text-center">About TooU</div>
<div class="regular-12pt">
<p>
  TooU is a Southern California based company that is revolutionizing the digital gift industry.
</p>  
<p>
Traditional gift cards are give and forget, and can only be used at one merchant, but
TooUs are micro-gifts that can be used at any participating merchant.  
</p>
<p>
TooUs are designed to enhance the pleasure of giving and receiving a gift.
</p>
<p>
TooUs never expire.
</p>
</div>  

<div class="poiret regular-16pt text-center mt-5">The TooU Team</div>  

<div class="media mt-3">
  <%= image_tag "team_images/josh.png", {alt: "Joshua Shapiro", class: "portrait mr-3"} %>
  <div class="media-body">
    <div class="h6 mt-0">Joshua Shapiro, Founder</div>
    <div>josh@toou.gifts</div>
  </div>
</div>

<div class="media mt-3">
  <%= image_tag "team_images/shane.png", {alt: "Shane Murray", class: "portrait mr-3"} %>
  <div class="media-body">
    <div class="mt-0 h6">Shane Murray, Founder</div>
    <div>shane@toou.gifts</div>
  </div>
</div>

<div class="media mt-3">
  <%= image_tag "team_images/dana.png", {alt: "Dana Owens", class: "portrait mr-3"} %>
  <div class="media-body">
    <div class="h6 mt-0">Dana Owens, Creative Director</div>
    <div>dana@toou.gfits</div>
  </div>
</div>

</div>