<div class="container content-width card">

<div>
<div class="h4 mt-3">
How can I contact TooU support?
</div>
For the fastest possible response, please call (213) 319-5821 or email support@toou.gifts
</div>

<div>
<div class="h4  mt-3">A TooU Ticket was sent to me. How do I redeem it?</div>
A TooU is a ticket that can be redeemed for merchant products up to a specific value on the ticket. You can use it at the merchant when you order your items. To use your TooU, log on to your account and select the ticket you would like to use and the merchant where you are redeeming the ticket. Tell the cashier/server that you would like to redeem a TooU and the product you would like. Product availability will be based on the merchant availability. Provide the merchant the redemption code and enjoy the treat you your friends have bought you.
</div>

<div>
<div class="h4 mt-3">
    What is TooU's policy for Tipping and Tax?
</div>    
Tips are generally included in the value of your ticket. The merchant is paid the full value of the ticket and there is no change received once the ticket is redeemed. For example if you redeem a $10 TooU beer ticket for a $8 beer, the merchant is paid the full $10 to cover taxes and tip. Merchants may set different policies. Please be sure to tip appropriately depending on the venue's policy. If you have any questions please feel free to contact our support team.
</div>

<div>
<div class="h4 mt-3">Someone sent me a TooU but I cant find it?</div>    
TooU tickets are delivered via text message initially and then are applied to your TooU account based on your phone number. Please log on to TooU.gifts and check your account using your Phone Number. No luck? The sender may have used the wrong contact details when purchasing the ticket. You may also contact TooU support at any time by texting 818 285 9202 (fastest response) or by emailing support@toou.gifts.
</div>

<div>
<div class="h4 mt-3">Do I have to open an account with TooU to buy a ticket for a friend?</div>    
Yes. Creating an account allows us to keep track of who purchased the ticket for any support needs. It allows our customer service team to best assist you.
</div>

<div>
<div class="h4 mt-3">Which devices are supported by TooU?</div>    
We currently offer support for the iPhone and tickets can be sent or redeemed through our website toou.gifts from any smartphone or Internet-connected tablet.
</div>

<div>
<div class="h4 mt-3">I received TooU Ticket. Does it Expire?</div>    
If someone purchased a TooU for you it will never expire. We do hope that TooU’s dont last long in your account because your friend wants you to enjoy a special treat. 
</div>
    
</div>