<% content_for :head do %>
  <meta name="apple-itunes-app" content="app-id=1458939310">
  <script>
      var GroupBeerPurchase = {group_id: <%= @group.id %>};
  </script>
<% end %>

<div class="container">

    <p>The brave men and women of the United States Military work hard every day to defend our freedom.  Salute a service member and buy 'em a beer.</p>
    <h3 class="text-center">Send a beer to a <%= @group_member %></h3>
    <h4 class="text-center"><%= @group_phrase %></h4>
    <div class="form-group message-form">
        <input type="text" class="form-control text-center" id="message_input" value="Thank you for your service"></input>
        <label for="message_input" class="text-center">Customize Message</label>
    </div>

    <div class="payment-form text-center">
        <div class="mt-3 mx-auto w-50" id="payment-request-button"></div>
        <div class="mt-3 mx-auto" id="alternate-payment-button"></div>
        <div class="mx-auto w-50" id="payment-errors"></div>
    </div>
    
    
</div>

<%= render partial: 'modal' %>
