
<div class="container-fluid pt-5">
  
    <div class="row">
      <div class="col text-center">
        <a href="/promos"><div id="HandGlass"></div></a>
      </div>
    </div>  
    <div class="row">
      <div class="col text-center mt-5">
         <a href="/promos"><span class="regular-28pt ">Treat Someone</span></a>
      </div>
    </div>
  
  <div class="row">
      <div class="col text-center mt-5">
         Are you a merchant? Join the TooU Platform!  Start by checking in with Stripe below.
      </div>
  </div>
  <div class="row">
    <div class="col text-center mt-2">
          <a href="/admin/accounts/create&client_id=ca_32D88BD1qLklliziD7gYQvctJIhWBSQ7" class="stripe-connect"><span>Connect with Stripe</span></a>
    </div>
  </div>
</div>

