<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Purchase Complete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thanks for purchasing a TooU <span id="purchaser_name"></span></br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Not Now</button>
      </div>
    </div>
  </div>
</div>

<div class="content-width mx-auto">

<div class="card">
    <div class="card-header">
      <span id="promotion_name" class="h5"></span>
    </div>
    <div class="card-body">
      
    <div class="card-text">
      <h3 id="promotion_copy"></h3>
      <strong><span id="promotion_value_dollars"></span> for <span id="promotion_product"></span>
      </strong>
      
      <div class="text-center">
            
        <form class="mx-auto w-75 mt-3">
          <div class="form-group row">
            <label for="recipient_phone" class="col-sm-3 col-form-label h6 text-center">Send To:</label>
            <div class="col-sm-9">
            <input id="recipient_phone" name="recipient_phone" type="text" class="form-control" placeholder="10 digit phone number"></input>
             <div id="payment_errors" class="invalid-feedback" style="display:none;">Please provide a valid phone number</div>
             </div>
          </div>            
        </form>
        
          
        <div>
          <span id="promotion_qty_left"></span> left
        </div>
       
        <div>
          Ends <span id="promotion_end_date"></span>
        </div>
       
        <div id="payment-request-button" class="mt-3 mx-auto w-50">
          <%= link_to "Add A Payment Method", "https://support.google.com/pay/answer/7625139" , target: "_blank", class: "btn btn-info" %>
        </div>
        
      
    </div>
  </div>
</div>


</div>

