<div class="container">
    <div class="product-list-label">What do you want to send?</div>
    <div class="product-list"></div>
    <div class="recipient-form"></div>
    <div class="mt-3 mx-auto w-50" id="payment-request-button"></div>
</div>
<%= render partial: 'modal' %>
