
<div class="container content-width">
    <div class="regular-16pt poiret text-center">Contact Us</div>
    <div>
        <dl>
            <dt>Phone</dt>
            <dd>+1 (213) 319-5821</dd>
            
            <dt>Email</dt>
            <dd><a href="mailto:support@toou.gits">support@toou.gifts</a></dd>
        </dl>
    </div>
    
</div>
