<div class="container-fluid pt-5">
  
  <div class="container-fluid" >
    <div class="row">
      <div class="col text-center darkgray">
        <p>TooU lets you send a drink to return a favor or thank someone.</p>  
        <p>TooU appeals to a sharing economy that is missing a simple way to thank a friend for a favor when they don’t expect something in return.</p>
        <p>TooU is for that time when you don’t want to be crass by sending 6 bucks.</p>
      </div>
    </div>  
    <div class="row">
      <div class="col text-center mt-5">
         <span class="regular-20pt">Coming Fall 2019</span>
      </div>
    </div>
  </div>

</div>