<div class="container pt-5">
    
    <form action="/authenticate" method="get">
    <div class="row mb-2">
      <div class="col">Is your phone number <%= @acct_phone_number %>?</div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-danger" name="incorrect_phone" formaction="/new_phone">No.</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-success" name="correct_phone">Yes!</button>
        </div>
        <div class="col"></div>
    </div>
  </form> 
    
</div>