
<div class="container">
<form>
  <div class="form-group">
    <label for="redemptionCode">Redemption Code</label>
    <input type="password" class="form-control" id="redemptionCode" placeholder="Redemption Code">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>  
</div>
