
<div class="container">
  <form action="/authenticate" method="get">
    <div class="form-group">
      <label for="phoneNumber">Please enter your phone number</label>
      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
    </div>
    <button class="btn btn-outline-secondary"><%= open_iconic :icon, :arrow_thick_left %>Go Back</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>  
</div>
