<div class="container content-width">

<div>
    Hi <%= @current_user.username %> | 
<%= link_to "logout", merchants_logout_url %>
</div>


<div class="card">
    <div class="card-header">
        Businesses
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            <% @merchants.each do |m| %>
                <tr>
                    <td>
                        <%= link_to m.name, merchant_path(m) %>
                    </td>
                </tr> 
            <% end %>
        </table>
        <div class="row col mt-5">
            <%= link_to "Add a business", new_merchant_path, class: "btn btn-secondary btn-sm" %>
        </div>
    </div>
</div>
