
<div class="content-width container">
<h5>Request an Account</h5>
	<p>TooU is currently in a pilot testing phase with select establishments 
	in Southern California.  Please mail <a href="mailto:support@toou.gifts">support@toou.gifts</a> if 
	you are interested in participating or <a href="<%= user_new_merchant_url %>">create an account now!</a>.</p>
</div>
<div class="text-center m-4">
	<%= link_to "Already Participating? Access Your Dashboard Now!", merchants_path, {class: "btn btn-primary"} %>
</div>

