
<div class="content-width container">
<h5>Step 3 of 3</h5>
    
  <div class="row">
    <div class="col">
      Connect your account to Stripe
      <a class="stripe-connect" href="<%= stripe_connect_url %>"><span>Connect Now</span></a>
    </div>
  </div>
      
  
</div>
