<div class="container container-width">
	<div class="row col">Created At: <%= @log.created_at %></div>
	<div class="row col">Context: <%= @log.context %></div>
	<div class="row col">User: <%= @log.current_user %></div>
	<div class="row col">Created At: <%= @log.message %></div>
</div>