
<div class="content-width container form">
    <div class="h3">Reset Password</div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="password" class="form-control" cols="30"/>
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm New Password</label>
        <input type="password" name="password-confirm" class="form-control" cols="30"/>
    </div>
</div>