// Place all the styles related to the redemption controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.digit-lg {
    display: inline-block;
    width: 1.3em;
    height: 80px;
    font-size: 50px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

#code-input input:disabled {
    background-color: white;    
}

#code-input input.focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.overlay {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;
    top: 50px;
    border-radius: 30px 30px 30px 30px;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    padding-top: 40px;
    z-index: 100;
}

.pending {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.approved {
    color: white;
    background-color: green;
}

.denied {
    color: white;
    background-color: red;
}

.merchant-autocomplete .list-group-item:hover {
    background-color: #83D6DE3D;
    color: #8E8E93;
}

.merchant-autocomplete .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

td.number-pad.number {
    width: 65px;
    height: 65px;
    font-size: 35px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 6px;
}

table.number-pad {
    border-collapse: separate;
    border-spacing: 8px;
    margin: 0 auto 
}

.overlay .btn {
    margin-top: 75px;
}