
.wiz {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.wiz-item {
    position: absolute;
    width: 100%;
    height: 200px;
}

.wiz-item.staged {
    left: 100%;
}

.wiz-item.active {
    left: 0%;
    transition: left 0.5s;
}

.wiz-item.unstaged {
    left: -100%;
    transition: left 0.5s;
}

.wiz-control {
    position: absolute;
    bottom: 0;
}
